body{
	margin:0;
	padding:0;
}
#header{
	height:200px;
	background:url('../img/fon.jpg');
}
#logo{
	float:left;
}
#logotext{
	float:right;
	padding:10px;
	padding-top:50px;
	margin-top:0;
	color: green;
	text-shadow: 1px 1px 1px black;
}
.topmenu{
	display:flex;
	width:100%;
	margin:0 auto;
}
.topmenu a{
	flex:1;
	text-decoration:none;
	background:green;
	color:white;
	text-align:center;
	padding: 20px 0;
	border-right: solid 1px white;
}
.topmenu a:hover{
	background: gold;
	color: black;
}
.maintext{
	text-align:justify;
}
.footer{
	text-align:center;
	padding-top:50px;
	padding-bottom:50px;
	background: Silver;
	color:SpringGreen;	
}
.product{
	float:left;
	margin-right: 10px;
}
.modal-window{
	position:fixed;
	top:100px;
	left:50%;
	width:600px;
	margin-left:-300px;
	padding:10px;
	border: solid 1px #ccc;
	background-color:green;
	border-radius: 6px;
	box-shadow:1px 1px 1px black;
	z-index:99;
	
}
.modal-close{
	position:absolute;
	top: 1px;
	right:1px;
	margin:0;
	padding:0;
	text-decoration:none;
	color: red;
	font-size:18px;
}
.modal-close:before{
	position:relative;
	top:-1px;
	content:"Close";
	font-size:12px;
}
#overlay{
  background:black;
  opacity: 0.7;
  position:fixed;
  height:100%;
  width:100%;
  left:0;
  top:0;
}

@media screen and (max-width: 600px){
	#header{
		100px;
	}
	#logo{
		display:none;
	}
	.topmenu{
		flex-direction:column;
	}
}